.wedding--pages .index-section {
  padding-top: 35px;
  padding-bottom: 35px;
}

.Wedding-Landing-Page h1 {
    font-size: 60px;
    font-weight: 600;
}
.Wedding-Landing-Page h2 {
    font-size: 32px;
    font-weight: 600;
}
.Wedding-Landing-Page .page-width {
    max-width: 1400px;
}
.Wedding-Landing-Page .page-snippet-1 {
    padding-top: 55px;
}
@media only screen and (max-width: 750px) {
    .Wedding-Landing-Page .page-snippet-1 {
        padding-top: 35px;
    }
}
.Wedding-Landing-Page .section-header {
    margin-bottom: 30px;
}
@media only screen and (max-width: 750px) {
  .Wedding-Landing-Page .prd--card .grid.grid--no-gutters {
    border-bottom: 2px solid #557b97;
    padding-bottom: 35px;
  }
  .Wedding-Landing-Page .prd--card:last-child .grid.grid--no-gutters {
      border-bottom: 0;
  }
    .Wedding-Landing-Page .section-header {
        margin-bottom: 22px;
    }
    #filters-container {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 90%;
      z-index: 99999;
      background: white;
      margin-left:-100%;
      /* -webkit-animation: move 2s 0s ease-in-out;
          animation: move 2s 0s ease-in-out; */
    }
    .filter-fade{
      display: none;
    }


    .class-relative{
      position: relative;
    }
    .filter-open{
      margin-left:0% !important;
        transform: translateX(-0%);
    }
}
@media only screen and (min-width: 751px) {
  #filters-container {
    margin-left:0%;
  }
  .filter-open{
    margin-left:-20% !important;
    transform: translateX(-20%);
  }
}
.Wedding-Landing-Page .wedding-Landing-banner {
    padding-bottom: 0;
}
.Wedding-Landing-Page .Wedding-Landing-search .search--wrap {
    max-width: 767px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 9;
    display: flex;
    margin-top: -30px;
    box-shadow: 0px 5px 35px -15px #557b97;
}
.Wedding-Landing-Page .Wedding-Landing-search .search--wrap .search--input {
    border: none;
    flex-basis: 40%;
    padding: 20px 14px;
    border-radius: 4px;
}
.Wedding-Landing-Page .Wedding-Landing-search .search--wrap .search--input::placeholder {
    font-size: 14px;
}
.Wedding-Landing-Page .Wedding-Landing-search .search--wrap button {
    border: none;
    background: #557b97;
    color: #fff;
    flex-basis: 20%;
    border-radius: 4px;
    font-size: 14px;
}
@media only screen and (max-width: 750px) {
    .Wedding-Landing-Page .Wedding-Landing-search .search--wrap {
        flex-wrap: wrap;
        padding: 0 15px;
        box-shadow: none;
    }
    .Wedding-Landing-Page .Wedding-Landing-search .search--wrap .search--input, .Wedding-Landing-Page .Wedding-Landing-search .search--wrap button {
        flex-basis: 100%;
        border-bottom: 1px solid #e5e5e5;
        padding: 16px 12px;
    }
}
.Wedding-Landing-Page .Wedding-Landing-search .partition {
    position: absolute;
    left: 40%;
    top: 48%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #e5e5e5;
}
.Wedding-Landing-Page .Wedding-Landing-search .info--text {
    max-width: 767px;
    margin: 15px auto 0;
    padding: 0 30px;
}
.Wedding-Landing-Page .Wedding-Landing-search .info--text p {
    color: #557b97;
}
.Wedding-Landing-Page .col--card {
    margin-bottom: 30px;
    position: relative;
    line-height: 0;
}
/* .Wedding-Landing-Page .col--card .title--card {
    position: absolute;
    width: calc(100% - 30px);
    bottom: 0;
    line-height: 1;
    color: #fff;
    padding: 15px;
} */
.Wedding-Landing-Page .col--card .title--card {
	/* position: absolute;
	width: calc(100% - 30px);
	bottom: 0; */
	line-height: 1;
	color: black;
	padding: 15px;
	font-weight: bold;
	background: white;
}
@media only screen and (max-width: 750px) {
    .Wedding-Landing-Page .col--card {
        margin-bottom: 22px;
    }
    .Wedding-Landing-Page .col--card .title--card {
        /* width: calc(100% - 22px); */
    }
}
.Wedding-Landing-Page .View-All-btn {
    border: none;
    background: #557b97;
    color: #fff;
    border-radius: 4px;
    padding: 12px 20px;
    font-size: 14px;
}
.Wedding-Landing-Page .page--icon-header {
    padding: 14px 0;
    margin-bottom: 30px;
}
.Wedding-Landing-Page .page--icon-header select {
    border: none;
    padding-left: 0;
    color: #a4a4a4;
}
.Wedding-Landing-Page .page--icon-header .grid__item {
    border-right: 1px solid #efefef;
}
.Wedding-Landing-Page .page--icon-header .grid__item:last-child {
    border-right: none;
}
.Wedding-Landing-Page .page--icon-header li {
    color: #a4a4a4;
    border: 1px solid #a4a4a4;
    width: 20px;
    height: 20px;
    font-size: 13px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
}
.Wedding-Landing-Page .page--icon-header li.active {
    color: #333;
    border-color: #333;
    cursor: pointer;
}
.Wedding-Landing-Page .filter--header {
    margin-bottom: 18px;
}
.Wedding-Landing-Page .filter--header .header--bullet {
    display: inline-block;
    float: left;
    max-width: 50px;
}
.Wedding-Landing-Page .filter--header .header--text {
    font-size: 20px;
    text-transform: capitalize;
    display: inline-block;
    float: left;
    margin-left: 12px;
    margin-bottom: 0;
    margin-top: 2px;
}
.Wedding-Landing-Page .filter--header:after {
    content: ' ';
    display: block;
    clear: both;
}
.Wedding-Landing-Page .filter--title {
    font-size: 16px;
    font-weight: 400;
    margin-left: 6px;
    padding-left: 16px;
    display: inherit;
    cursor: pointer;
    position: absolute;
    line-height: 1;
}
.Wedding-Landing-Page .filter--content {
    padding-bottom: 20px;
}
.Wedding-Landing-Page .filter--content li {
    color: #a4a4a4;
    border: 1px solid #a4a4a4;
    min-width: 35px;
    height: 35px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    padding: 8px 6px;
    margin-bottom: 8px;
    border-radius: 3px;
    cursor: pointer;
}
.Wedding-Landing-Page .filter--content li.active {
    background: #a4a4a4;
    color: #fff;
}
.Wedding-Landing-Page .p-top, .Wedding-Landing-Page .price--range {
    padding-top: 20px;
}
.Wedding-Landing-Page .round {
    position: relative;
    margin-bottom: 15px;
    display: flex;
}
.Wedding-Landing-Page .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 15px;
    left: 0;
    /* position: absolute; */
    top: 4px;
    width: 15px;
}
.Wedding-Landing-Page .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 2px;
    opacity: 0;
    position: absolute;
    top: 2px;
    transform: rotate(-45deg);
    width: 12px;
}
.Wedding-Landing-Page .round input[type="checkbox"] {
    visibility: hidden;
    position: absolute;
    left: 0;
}
.Wedding-Landing-Page .round input[type="checkbox"]:checked+label {
    background-color: #4a4a4a;
    border-color: #4a4a4a;
}
.Wedding-Landing-Page .round input[type="checkbox"]:checked+label:after {
    opacity: 1;
}
.Wedding-Landing-Page .prd--card {
    margin-bottom: 30px;
}
@media only screen and (max-width: 750px) {
    .Wedding-Landing-Page .prd--card {
        margin-bottom: 35px;
    }
}
.Wedding-Landing-Page .prd--card .prd--title {
    font-size: 20px;
    font-weight: 600;
    padding-left: 18px;
    margin-bottom: 0;
    color: #666;
}
.Wedding-Landing-Page .prd--card p {
    color: #999;
}
.Wedding-Landing-Page .prd--card .prd--reviews {
    padding-left: 18px;
}
.Wedding-Landing-Page .prd--card .prd--desc {
    font-size: 14px;
    padding-left: 18px;
    margin-bottom: 20px;
}
.Wedding-Landing-Page .prd--card .prd--btn {
    padding-left: 18px;
    margin-bottom: 20px;
}
.Wedding-Landing-Page .prd--card .prd--btn span {
    width: 38px;
    height: 38px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #aeaeae;
    margin-right: 8px;
    box-shadow: 0px 0px 12px 0px #aeaeae;
    padding: 8px;
    border-radius: 30px;
}
.Wedding-Landing-Page .prd--card .prd--btn span a {
    line-height: 1;
}
.Wedding-Landing-Page .prd--card .prd--thumbs {
    padding-left: 18px;
    margin-bottom: 18px;
    display: flex;
}
.Wedding-Landing-Page .prd--card .prd--thumbs div {
    padding-right: 8px;
}
.Wedding-Landing-Page .prd--card .rquest-btn {
    border: 2px solid #557b97;
    border-radius: 4px;
    color: #557b97;
    padding: 12px 20px;
    font-size: 14px;
    margin-left: 18px;
    line-height: 3;
}
.Wedding-Landing-Page .prd--card .rquest-btn:hover {
    background: #557b97;
    color: #fff;
}
.uspn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 20px;
}
.uspn img {
margin-right: 8px;
}
@media only screen and (max-width: 750px) {
    .uspn {
        justify-content: flex-start;
    }
}
.pricing--btn {
    margin-top: 24px;
}
.pricing--btn button {
    border: 0;
    background: #557b97;
    color: #fff;
    padding: 12px 24px;
}
.contact--frm .text--fields {
    border: 1px solid #ececec;
    margin: 0 0 16px auto;
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contact--frm .text--fields input {
    border: none;
    padding-left: 0;
}
.contact--frm .text--fields img {
    max-width: 20px;
}
.contact--frm .text--fields textarea {
    min-width: 100%;
    border: 0;
}
.contact--frm .btton--fields {
    margin-left: auto;
    max-width: 80%;
}
.contact--frm .btton--fields button {
    border: 0;
    background: #557b97;
    color: #fff;
    padding: 12px 24px;
    border-radius: 30px;
}
@media only screen and (max-width: 750px) {
    .contact--frm {
        margin-top: 35px;
    }
    .contact--frm .text--fields {
        margin: 0 auto 16px;
        max-width: 90%;
    }
    .contact--frm .btton--fields {
        margin: auto;
        max-width: 90%;
    }
}
.feature--list li {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 15px;
    color: #8c8e91;
}
.vendor--header {
    margin-bottom: 18px;
}
.vendor--header:after {
    content: ' ';
    display: block;
    clear: both;
}
.vendor--header .header--bullet {
    display: inline-block;
    float: left;
    max-width: 50px;
}
.vendor--header .header--text {
    font-size: 30px;
    text-transform: capitalize;
    display: inline-block;
    float: left;
    margin-left: 12px;
    margin-bottom: 0;
    margin-top: -2px;
}
.details-tabs .tabs {
    border-bottom: 2px solid #557b97;
}
.details-tabs .li-tab {
    padding: 0 0 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 0 40px 0 0;
    cursor: pointer;
    font-size: 30px;
}
.details-tabs .li-tab:first-of-type {
    margin-left: 0;
}
.details-tabs .li-tab:last-of-type {
    margin-right: 0;
}
.details-tabs .li-tab.active {
    color: #557b97;
    font-weight: 700;
}
@media only screen and (max-width: 750px) {
    .details-tabs .li-tab {
        padding: 0 0 18px;
        margin: 0 8px 0 0;
        font-size: 18px;
        letter-spacing: 0px;
    }
}
.details-tabs .tabs-content {
    padding-top: 35px;
}
@media only screen and (min-width: 751px) {
    .accordian--div {
        max-width: 90%;
    }
}
.accordion {
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 24px;
    cursor: pointer;
    padding: 18px 15px;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #e5e5e5;
    outline: none;
    transition: 0.4s;
    margin-bottom: 0px;
}
@media only screen and (max-width: 750px) {
    .accordion {
        font-size: 18px;
    }
}
.accordion:after {
    content: '⌟';
    font-family: none;
    font-size: 24px;
    color: #777;
    float: right;
    margin-left: 5px;
    transform: rotate(-45deg);
}
@media only screen and (max-width: 750px) {
    .accordion:after {
        font-size: 18px;
    }
}
.accordion.active:after {
    /* content: "▴";
  */
    transform: rotate(45deg);
}
div.panel {
    height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    opacity: 0;
    margin-bottom: 0px;
}
div.panel p {
    color: #a5a5a5;
}
div.panel.show {
    opacity: 1;
    border-bottom: 1px solid #557b97;
    padding: 15px 30px 25px 15px;
    height: auto;
}
.review--title {
    font-size: 30px;
    margin-bottom: 35px;
}
.review--content {
    margin-bottom: 35px;
    padding-bottom: 25px;
}
@media only screen and (min-width: 751px) {
    .review--content {
        border-bottom: 1px solid #ebebeb;
    }
}
.review--content:last-child {
    margin-bottom: 0;
}
.leave--review textarea {
    width: 100%;
    margin-bottom: 15px;
    border: none;
    background: #f7f6f3;
    border-radius: 4px;
}
.leave--review .textt-inps {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.leave--review .textt-inps input {
    padding: 14px 18px;
    flex-basis: 50%;
    max-width: 48%;
    border: none;
    background: #f7f6f3;
    border-radius: 4px;
}
.leave--review button {
    border: 0;
    background: #557b97;
    color: #fff;
    padding: 12px 24px;
    border-radius: 4px;
}
.banner-slider {
    margin-bottom: 20px !important;
    position: relative !important;
}
.banner-slider .slick-next {
    right: -4%;
    background: #000000cf;
    z-index: 9;
    height: 100%;
    width: 25%;
    outline: none;
}
.banner-slider .slick-next:before {
    content: '⌟';
    font-size: 60px;
    color: #fff;
    opacity: 1;
    display: inline-block;
    transform: rotate(-45deg);
}
.banner-slider .slick-prev {
    left: -4%;
    background: #000000cf;
    z-index: 9;
    height: 100%;
    width: 25%;
    outline: none;
}
.banner-slider .slick-prev:before {
    content: '⌟';
    font-size: 60px;
    color: #fff;
    opacity: 1;
    display: inline-block;
    transform: rotate(135deg);
}
.banner-slider .slick-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.img--thumbnails img {
    margin: 0 auto;
    max-width: 90%;
}
@media only screen and (max-width: 750px) {
    .accordian--div {
        margin-bottom: 35px;
    }
}
.rating-stars ul {
    list-style-type: none;
    padding: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.rating-stars ul>li.star {
    display: inline-block;
}
.rating-stars ul>li.star>i.fa {
    font-size: 1em;
    color: #ccc;
    cursor: pointer;
}
.rating-stars ul>li.star.hover>i.fa {
    color: #FFCC36;
}
.rating-stars ul>li.star.selected>i.fa {
    color: #FF912C;
}
.review--content img {
    border-radius: 100px;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}
.empty-review {
    color: red;
    font-size: 16px;
    display: none;
}
.main-content {
    padding-top: unset !important;
}
.paginate-pagination ul {
    margin: 20px 0 0;
    padding: 0;
    list-style: none;
}
.paginate-pagination ul:after {
    content: ' ';
    display: table;
    clear: both;
}
.paginate-pagination ul>li {
    float: left;
    margin-right: 3px;
}
.paginate-pagination ul>li>a.page {
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #ddd;
    background: white;
    text-decoration: none;
    cursor: pointer;
}
.paginate-pagination ul>li>a.page:hover {
    opacity: 0.7;
}
.paginate-pagination ul>li>a.page.active {
    opacity: 0.7;
    cursor: default;
    background: #557b97;
    color: white;
}
.paginate-pagination ul>li>a.page-next.deactive, .paginate-pagination ul>li>a.page-prev.deactive {
    opacity: 0.7;
    cursor: default;
}

.slick-slide img {
display: block;
margin: 0 auto;
}
.img--thumbnails .slick-track {
margin: 0 auto !important;
}
.empty-user::before {
  content: attr(data-letters);
  display: inline-block;
  font-size: 3em;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border-radius: 50%;
  background: #bcb0b5;
  vertical-align: middle;
  margin-right: 1em;
  color: white;
}

.prd--thumbs img {
	margin: 0 auto;
	max-width: 60px;
	max-height: 60px;
	width: auto;
	height: auto;
}

.added-in-wishlist {
	background-color: red;
	color: white;
}

.lazy--container {
  height: 275px;
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 990px) {
  .lazy--container {
    height: 175px;
  }
}
.prd--thumbs .prd--thumbs-img {
    width: calc(33.33% - 8px);
    height: 65px;
    margin-right: 8px;
    background-size: cover;
    background-position: center;
}
ul#thumb-slider li {
  max-width: 16.66%;
  width: 100%;
}
